.message {
  padding: 10px;
  
  &__title {
    display: flex;
    margin-bottom: 5px;
  }

  &__title h4 {
    font-weight: 600;
    margin-bottom: 0;
    margin-right: 10rem;
    margin-top: 0;
  }

  &__title span {
    color: #999;
  }

  &__body p {
    margin: 0;
  }

}




