* {
  box-sizing: border-box;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;

  @media (max-width: 600px) {
    font-size: 1rem;
  }
}

html {
  font-size: 62.5%
}

body {
  font-family: Helvetica, Aria, sans-serif;
  font-size: 1.6rem;
}

h1 {
  font-size: 2.4rem;
}

ul, li {
  list-style-position: inside;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

button {
  background: #265f82;
  border: none;
  color: white;
  cursor: pointer;
  padding: 1rem;
  transition: background .3s ease;
}

button:hover {
  background: #1F4C69;
  border: none;
  color: white;
  padding: 1rem;
}

button:disabled {
  background: #698ea5;
  cursor: default;
}

